/* Navbar.css

.bm-menu {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    height: 100vh !important;
    padding: 2rem;
    background-color: #F5FDFF;
  }
  

  .bm-item-list {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
    align-items: center !important;
    height: 100% !important;
  } */